@{
    ViewData["Title"] = "Home Page";
}

@model BowlerViewModel

<div class="text-left mb-3">
    <h3 class="display-4 pt-1 text-byu"><b>Bowler Contact Information</b></h3><br />
    @if (ViewBag.Count < 2)
    {
        @foreach (Team t in ViewBag.Teams)
        {
            <h4 class="text-byu mb-2">Team: @t.TeamName</h4>
        }
    }
    else
    {
        <h4 class="text-byu mb-2">All Bowlers</h4>
    }


</div>

@foreach (Bowler b in Model.Bowlers)
{
    //Go to BookSummary to pull in the Books in database
    <partial name="BowlerSummary" model="b" />
}

@*Create buttons at the bottom of the page. Highlight the button selected*@
<div page-model="@Model.BowlerInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>

